/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(41, 41, 41);
}

body{
    height: 2000px;
}

.container{
    background-color: rgb(59, 59, 59);
    color: white;
} */
